VITE_PAYMENT_RECEIVER=
VITE_FACTORY_CONTRACT=0x9c7DA60DfC7E2ef82014b347Db24BcE9fb1faF08
VITE_MINT_CONTRACT=0x17877D1e85390937c461b0A7886Ad75bAAC9F1dA
VITE_TOKEN_CONTRACT=0xb3b2afb0de33d4d80a20839662bc99c6b360eeee

# Hardhat / BSC deployment
PRIVATE_KEY=
BSC_RPC_URL=https://bsc-rpc.publicnode.com
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
BSCSCAN_API_KEY=
FACTORY_FEE_RECEIVER=0xF007f8Dd9037e9DD56B2953D8dA60cBc4B7FA939
FACTORY_CREATION_FEE_BNB=0.005
PANCAKE_ROUTER=0x10ED43C718714eb63d5aA57B78B54704E256024E
DEFAULT_REWARD_TOKEN=0xb3b2afb0de33d4d80a20839662bc99c6b360eeee
VERIFY_AFTER_DEPLOY=false
VERIFY_CONFIRMATIONS=5
